name: Trigger auto deployment for mafagent

on:
  push:
    branches:
      [ main ]
    paths:
    - '**'
    - '.github/workflows/mafagent-deploy.yml'

  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.MAFAGENT_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.MAFAGENT_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.MAFAGENT_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          dockerfilePath: ./Dockerfile
          registryUrl: mafagentacr.azurecr.io
          registryUsername: ${{ secrets.MAFAGENT_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.MAFAGENT_REGISTRY_PASSWORD }}
          containerAppName: mafagent
          resourceGroup: llmmvp
          imageToBuild: mafagentacr.azurecr.io/mafagent:${{ github.sha }}
